.layout {
  display: flex;
  min-height: 100vh;
  background: #0f172a;
}

.main-area {
  margin-left: 230px;
  width: calc(100% - 230px);
  display: flex;
  flex-direction: column;
}

.content {
  padding: 20px;
}